.card{
    width: 68px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px 12px;
    flex-basis: 29%;
    flex: 25%;
    margin: 5px;
    cursor: pointer;
}

.card.down img{
    visibility: hidden;
    transition: all 0.5s linear;
}

.card.down {
    animation: 1s turnDown linear;

}

.card.up{
    animation: 0.8s turnUp linear;
}

.card img{
    width: 100%;
}

@keyframes turnUp {
    0%{
        transform: rotateY(90deg);
    }
}

@keyframes turnDown {
    50%{
        transform: rotateY(90deg);
    }
}