.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.good-job{
    color: red;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}