.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: red;
    animation: 5s colors linear infinite;
    transition: all 0.2s;
}

.good-job{
    color: red;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    animation: icrease 1s linear;
}

@keyframes colors {
    0%   {color: blue;}
    25%  {color:purple;}
    50%  {color: pink;}
    75%  {color: yellow;}
    100% {color: green;}
}

@keyframes icrease {
    50% {transform: scale(1.1);}
}